{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="background: #2e2c2c;">
        <form method="POST">
            {% csrf_token %}
                <fieldset class="form-group">
                    <legend class=" mb-4" style="margin-left: 40%;color: white;">Blog Post</legend>
                    <div class="horizontal-line" style="border: none;
                    border-top: 2px solid rgb(208, 208, 208);
                    margin: 2px 0"></div>
                        {{ form|crispy }}
                </fieldset>
            <div class="form-group" style="margin-left: 45%;">
                <button class="btn btn-outline-info" type="submit" style="color:white;"
                onmouseover="this.style.boxShadow='0 0 10px white'" onmouseout="this.style.boxShadow='none'">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}